body {
	overflow-x: hidden;
	overflow-y: hidden; 
	background-color: #EDF7FC;
}

#nav {
	background-color: white;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 100;
	border-top: 0;
	width: 100%;
	box-shadow: 1px 1px 1px 1px #65789D;
	text-align: center;
	overflow-x: hidden;
}

#navwrap {
	height: 5.75em;
	position: static;
	margin-bottom: 0;
}

#nav ul {
	float: none;
	text-align: center;
	margin-top: 1.8em;
	vertical-align: top;
	position: static;
	margin-left: -3.2em;
}

#nav li {
	display: inline-block;
	width: 9%;
	list-style-type: none;
	text-align: center;
	position: static;
	float: none;
}

#nav li a {
	text-decoration: none;
	color: #487240;
	font-family: 'Raleway', sans-serif;
}

#nav li a:hover {
	text-decoration: none;
	color: #6F9E65;
}

#nav li a:visited {
	text-decoration: none;
}

#nav #sunflower {
	margin-top: -1.4em;
	margin-left: -.75em;
	float: center;
	text-align: center;
}

#text_area {
	width: 100%;
	height: 100%;
	z-index: -400;
	left: 0;
	right: 0;
	position: absolute;
	text-align: center;
	overflow-x: hidden;
	overflow-y: auto;
	clear: both;
}

.title {
	font-family: 'Raleway', sans-serif;
	font-size: 40pt;
	font-weight: 400;
	color: #314B2C;
}

#footer {
	bottom: 0;
	margin: auto;
	margin-top: 3em;
	margin-left: -1.55em;
	position: absolute;
	padding: 1em;
	width: 100%;
	background-color: #52699A;
	height: 1.3em;
	text-align: center;
	font-family: 'Raleway', sans-serif;
	color: white;
	font-size: 11pt;
	vertical-align: center;
}

#image {
	border-radius: 4px;
	border: 1.5px solid #B6D8E8;
}

.box {
	border: 1.5px solid #B6D8E8;
	border-radius: 4px;
	padding: 1em;
	font-family: 'Roboto', sans-serif;
	font-size: 12pt;
	background-color: white;
	text-align: left;
	color: #272E2A;
	font-weight: 300;
}

#sideone {
	display: inline-block;
	margin-bottom: 2.5em;
	margin-left: -23em;
}

#sidetwo {
	display: inline-block;
	position: absolute;
	margin-left: -1.2em;
	float: right;
	overflow-x: hidden;
	text-align: center;
	width: 22em;
}

.box a {
	text-decoration: none;
	color: #487240;
	font-weight: 400;
}

.box a:hover {
	color: #6F9E65;
}

#top {
	height: 1.75em;
}

#about_me {
	font-family: 'Merriweather', serif;
	font-size: 12pt;
	width: 12em;
	color: #272E2A;
	text-align: center;
	font-weight: 500;
}

#heading {
	font-size: 19pt;
	font-weight: 500;
	font-family: 'Raleway', sans-serif;
	margin-left: -.1em;
}

#grass {
	padding-bottom: 3em;
}

#break {
	height: .4em;
}

#filler {
	height: .5em;
}