body {
	overflow-x: hidden;
	background-color: #EDF7FC;
}

#text_area {
	width: 100%;
	z-index: -400;
	left: 0;
	right: 0;
	position: absolute;
	text-align: center;
	overflow-x: hidden;
	overflow-y: auto;
	clear: both;
}

#nav {
	background-color: white;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 100;
	border-top: 0;
	width: 100%;
	box-shadow: 1px 1px 1px 1px #65789D;
	text-align: center;
	overflow-x: hidden;
}

#navwrap {
	height: 5.75em;
	position: static;
	margin-bottom: 0;
}

#nav ul {
	float: none;
	text-align: center;
	margin-top: 1.8em;
	vertical-align: top;
	position: static;
	margin-left: -3.2em;
}

#nav li {
	display: inline-block;
	width: 9%;
	list-style-type: none;
	text-align: center;
	position: static;
	float: none;
}

#nav li a {
	text-decoration: none;
	color: #487240;
	font-family: 'Raleway', sans-serif;
}

#nav li a:hover {
	text-decoration: none;
	color: #6F9E65;
}

#nav li a:visited {
	text-decoration: none;
}

#nav #sunflower {
	margin-top: -1.4em;
	margin-left: -.75em;
	float: center;
	text-align: center;
}

#sideone {
	overflow-x: hidden;
	width: 25em;
	margin-left: 2.5em;
	text-align: left;
}

#box {
	border: 1.5px solid #52699A;
	border-radius: 8px;
	padding: 1em;
	font-family: 'Merriweather Sans', sans-serif;
	font-size: 12pt;
	background-color: white;
	text-align: left;
	color: #272E2A;
	font-weight: 300;
}

#box a {
	text-decoration: none;
	color: #487240;
}

#box a:hover {
	color: #6F9E65;
}

#sidetwo {
	display: inline-block;
	width: 25em;
	padding-left: 2.5em;
	margin-left: -0.5em;
	position: absolute;
	float: right;
	overflow-x: hidden;
	border-left: 5px dashed #314B2C;
	text-align: center;
}

#footer {
	bottom: 0;
	margin-top: 1em;
	margin-left: -1em;
	position: absolute;
	padding: 1em;
	width: 100%;
	background-color: #52699A;
	height: 1.3em;
	text-align: center;
	font-family: 'Raleway', sans-serif;
	color: white;
	font-size: 11pt;
}

#heading {
	font-size: 13pt;
	font-weight: 500;
}

#heading2 {
	font-size: 14pt;
	font-weight: 500;
}
